.border {
    border: 1px solid #ccc;
    border-radius: 2px;
}

.App {
    margin: auto;
    padding-top: 10px;
    text-align: center;
    width: var(--app-width);
}

.App button {
    background-color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 5px;
    color: #fff;
    padding: 7px 10px;
}

.App button:hover {
    background-color: white;
    color: var(--primary);
}

.App input {
    caret-color: var(--primary);
    color: var(--primary)
}