.card {
    display: inline-grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    grid-template-areas: 
        "pic pic"
        "pic pic"
        "pic pic"
        "name name"
        "price btn";
    
    height: 300px;
    min-width: 200px;
    margin: 5px;
    padding: 5px;
}

.card strong {
    grid-area: name;
    align-self: flex-start;
}

.grid span {
    grid-area: price;
}

.card button {
    grid-area: btn;
    justify-self: flex-end;

    align-items: center;
    display: inline-flex;
    height: 45px; width: 45px;
    justify-content: center;
    margin-right: 8px;
    padding: 12px;
}

.card__img-container {
    grid-area: pic;
}

.card__img-container img {
    border-bottom: 1px solid var(--primary);
    height: 130px;
    padding: 5px;
}