.shop__list--empty {
    background-color: var(--error);
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin-top: 100px;
    padding: 15px 27px;
}

.shop__list {
    display: flex;
    justify-content: center;
}